/*footer样式*/
.footer{
	margin-top:100px;
}
.top{
	padding-left:120px;
}
.center{
	padding-left:200px;
}
.bottom{
	padding-left:370px;
}
.top a,.center a p,.bottom a{
	color:#919191;
	font-size:12px;
/*	border-left:2px solid gray;*/
}
.top a{
	display:inline;
	width:12px;
	border-left:1px solid gray;
	padding-left:5px;
}
.top .first_a{
border:none;
}
.footer a:hover{
	color:#ff4444;
	text-decoration:underline;
}
.varli{
	color:red;
}