.right{
    float: right;
    padding-top: 10px;
    width: 830px;
    height: auto;
    min-height: 1500px;
    overflow: hidden;
    background: #fff;
}
.channelTitle {
    height: 26px;
    line-height: 28px;
    padding: 17px 0 0 5px;
    clear: both;
    overflow: hidden;
}
.channelTitle i{
    width: 32px;
    height: 28px;
    display: block;
    float: left;
    background: url(http://www1.pcbaby.com.cn/sns/images/icon.gif) no-repeat -92px -556px;
}
.channelTitle strong{
    font-size: 14px;
    float: left;
}
.albumNav{
    height: 33px;
    margin: 10px 0;
    clear: both;
    overflow: hidden;
	border-bottom:1px solid #ddd;
}
.albumNav .toc{
    width: 125px;
    height: 30px;
    margin-right: 2px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #333;
    text-decoration: none;
    float: left;
    display: block;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-radius:5px 5px 0 0;
}
.albumNav #upload{
  width:50px;
  height:28px;
  line-height:28px;
  background:#ff4444;
  border:0;
  margin-left: 30px;
  margin-top: 1px;
}
.albumArea{
  width:828px;
/*  height:800px;*/
}
.albumArea #myAlbum{
  width: 824px;
/*  height: 470px;*/
  border:2px dashed silver;
  padding-bottom: 20px;
}
#myAlbum img{
  width: 155px;
  height: 184px;
  margin-left: 41px;
  margin-top: 20px;
}
#area{
  height: 250px;
  border:3px solid silver;
  line-height: 250px;
  text-align: center;
  font-size: 36px;
  color: #d3d3d3;
  margin-top: 3px;
} 
