.right{
 width:830px;
  height:600px;
  float:right;
  background:white;
  margin:0;
  padding:0;
}
.keyWordBox{
  margin:80px 100px;
}
.keyWordBox>p{
  margin:20px 80px 20px;
  width:600px;
}
.keyWordBox label{
 font-family:Arial;
 font-size:20px;
 color:black;
}



.code{
            background:gray;
            font-family:Arial;
            font-style:italic;
            color:blue;
            font-size:30px;
            letter-spacing:3px;
             font-weight:bolder;               
             cursor:pointer;
             width:200px;
             height:60px;
             line-height:30px;
             text-align:center;
             vertical-align:middle;

    }
.codea
    {
        text-decoration:none;
        font-size:15px;
        color:#288bc4;
		margin:10px 5px;
        }
.codea:hover
    {
       text-decoration:underline;
        }